<header>
    <div class="bg">
            <div class="overlay"></div>


    <div class="container"></div>
    <nav>
    
    <img src="/static/img/app.png">
    <div class="menu"> <a href="/">Home</a>
        <a href="/estacoes">Estações</a>
        <a href="/comentarios">Comentários</a>
    </div>   
</nav>

    <div class="chamada">
            <h1> Veja  quão segura a estação é!</h1>
            <p> As avaliações são feitas pelo os próprios usuários! </p>

            <input type="search" placeholder="Estação Brás - Denúncia">
            </div>


</div>
</header>