<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>

    <section>
        
      <div class="section-1"> 
          <div class="texto-1"> 
<h1> Conheça o projeto</h1>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum corrupti tempora ut adipisci, reiciendis voluptates non rem nam nobis! Ex officiis adipisci blanditiis minus consectetur cum nemo dicta laborum?</p>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum corrupti tempora ut adipisci, reiciendis voluptates non rem nam nobis! Ex officiis adipisci blanditiis minus consectetur cum nemo dicta laborum?</p>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum corrupti tempora ut adipisci, reiciendis voluptates non rem nam nobis! Ex officiis adipisci blanditiis minus consectetur cum nemo dicta laborum?</p>
</div>
            <div class="img-container">
                
            <img src="../static/img/bg-container.jpeg">
        
        </div>

        </div>
    </section>
</body>
</html>