*{
    margin: 0;
    padding: 0;
    font-family: 'Fira';
}



  nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    width: 100%;
    height: 60px;
    z-index: 1;
    position: fixed;
    
}

.bg {
    width: 100vw;
    height: 80vh;
    background: url(./img/bg1.jpg);
    background-size: cover;
    position: static;
    z-index: -1000;
    
    }
    
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .menu >  a{

    font-family: sans-serif;
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    margin-right: 20px;


}

.chamada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0 auto;
    padding-top: 15%;
    color: white;

}

.overlay {
    height: 80vh;
    position: absolute;
    width: 100vw;
    z-index: 0;
    opacity: 0.7;
    background-color: teal;

}
.chamada h1 {
    font-family: sans-serif;
    font-size: 60px;
    padding: 10px;
}

.chamada p {
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;

}

img { 

    width: 150px;
height: auto;
    margin-left: 20px;
}

.container {
    
    width: 90vw;
}



input { 
    width: 44%;
    height: 50px;
    margin: 10px;
border-radius: 50px;
font-family: 'fira';
text-align: center;
color: #333;
border: none;
box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
transition: 0.5s;
}

input:focus {
    outline: none;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.4);
    transition: 0.5s;

}

.section-1 { 


    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

.texto-1 > h1 {

    font-size: 65px;
    font-family: 'Roboto';
    color: #333;
    font-weight: 300;
    margin: 50px;

}

.texto-1 h1::after{
content: '';
width: 50px;
height: 8px;
margin-top: 2px;
margin-left: 5px;
display: block;
    background-color:palevioletred;
}
.texto-1 p { 

font-size: 30px;
font-family: 'roboto';
font-weight: 200;
color: #555;
margin: 50px;
}
.section-1 > h1::before {
    border-bottom: 4px solid white;
}
.img-container > img { 
    height: 100vh;
    width: 50vw;
    justify-content: flex-end;
    background-size: cover;
}

